<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My First VueJS Project</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="app">

      <h2>
        {{message}}
      </h2>

<!--if edit is false, the list is shown  -->
        <ul v-show="!edit">
          <li v-for="item in items">
            {{item.value}}
          </li>
        </ul>


<!-- if edit is true, the "edit view" is shown -->
        <div id="edit" v-show="edit">
          <div v-for="(item,index) in items">
            <input v-model="item.value">
            <button :id="index" v-on:click="deleteItem(index)" class="close"> X </button>
          </div>
        </div>


<!-- for adding items to the list -->
      <input v-model="newItem" placeholder="New list item">
      <button v-on:click="addToEnd">Append new item</button>
      <button v-on:click="addToBeginning">Prepend new item</button>

      <label id="edit-list">
        <input type="checkbox" v-model="edit">
        edit list
      </label>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: '#app',

        data: {
          message: 'To-Do List with VueJS',
          edit: false,
//Sample/initial items for the list
          items:[{value:"Straw"},{value:"Twine"},{value:"Milk"},{value:"Eggs"}],
          newItem: ''
        },

//these methods should be fairly self-explanatory :)
        methods: {

          addToEnd: function() {
            if (app.newItem !== '') {
              console.log("Adding " + app.newItem + " to the end");
              app.items.push({value: app.newItem});
              app.newItem = '';
            } else {
              console.log("You can't add an empty string to the list!");
            }
          },

           addToBeginning: function() {
             if (app.newItem !== '') {
               console.log("Adding " + app.newItem + " to the beginning");
               app.items.unshift({value: app.newItem});
               app.newItem = '';
             } else {
               console.log("You can't add an empty string to the list!");
             }
           },

           deleteItem: function(index) {
             console.log("deleting # " + app.items[index].value);
             app.items.splice(index, 1);
           }
        }
      })


    </script>
  </body>
</html>
